// Template Colors
// Here you can add colors from theme
$main-color-text: #000000;

// Template breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

// Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Template fonts for body
$main-fonts: "Lato", "Arial", "sans-serif";
$secondary-fonts: "Rubik", "Arial", "sans-serif";
$main-font-size: 14px;
$main-font-weight: 400;